textarea {
    min-height: 400px;
}

.email_body {
    border: 1px solid;
    display: flex;
    flex-shrink: 3;
}

.email_body div {
    display: inline-block;
    padding: 5px;
    margin: 0;
}

.body {
    min-height: 35vh;
    margin-top: 20px;
}

#view-email button {
    margin-right: 10px;
}