{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
    <div id='posts'>
        {% if page_obj|length == 0 %} 
            Nothing here yet because you don't follow anyone
        {% else %}
            {% for post in page_obj %} 
            <div name='post'>
                <h5> <a href="{% url 'profile' post.author.id %}"> {{ post.author }} </a></h5>
                {{ post.content }}
                <div class='post_date'>
                    {{ post.post_date }}
                </div>
                {% if user_profile in post.likes.all %}
                <i class="fa fa-heart" style="color:red" id='heart' data-post-id="{{ post.id }}"></i>
                {% else %}
                <i class="fa fa-heart" id='heart' data-post-id="{{ post.id }}"></i>
                {% endif %}
                <span id="post{{ post.id }}">{{ post.likes.count }}</span>
                <div><hr class="solid"></div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}
{% endblock %}




