{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="#"/>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a> 
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" 
            class="navbar-toggler ml-auto custom-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon" ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">
                    {% if user.is_authenticated %}
                    {% url 'profile' user.id as url %}
                    <li class="nav-item {% if request.path == url %} active {% endif %}">
                        <a class="nav-link" href="{{ url }}">{{ user.username }}</a>
                    </li>
                    {% url 'index' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">All Posts</a>
                    </li>
                    {% url 'following' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">Following</a>
                    </li>
                    {% url 'logout' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">Log Out</a>
                    </li>
                    {% else %}
                    {% url 'login' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">Log In</a>
                    </li>
                    {% url 'register' as url %}
                    <li class="nav-item {% if request.path == url %}active{% endif %}">
                        <a class="nav-link" href="{{ url }}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="body">
            {% block body %}
            {% endblock %}
            <div class="footer">
                <footer>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}" id="current_page"> {{ page_obj.number }}</a></li>
            
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                        {% endif %}
                    </ul>
                </footer>
            </div>
        </div>
    </body>
</html>