{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
    <div class='post_div'>
        <h5>New Post</h5>
        <form action="{% url 'index' %}" method="post" id="post">
            {% csrf_token %}
            {{ form }}
            <input class="btn_post" type="submit" value="Post">
        </form>
    </div>
    <div id='posts'>
        {% for post in page_obj %} 
            <h5> <a href="{% url 'profile' post.user_id %}"> {{ post.user }} </a></h5>
            {{ post.content }}
            <div class='post_date'>
                {{ post.post_date }}
            </div>
            <i class="fa fa-heart like red" id='heart'></i>
            <span>{{ post.likes|length }}</span>
            <div>
                <hr class="solid">
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block footer %}
<div class="footer">
    <footer>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            
            <li class="page-item"><a class="page-link" href="/?page={{ page_obj.number }}" id="current_page"> {{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </footer>
</div>
{% endblock %}


